body {
    background:#eaeae8;
    margin: 0;
    padding: 0;
}

.navbar {
    background:#fff;
}

.logo-container {
    max-width: 100px;
}

.navbar-brand img {
    width:200px;
}

.d-flex input {
    width: 400px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 100px;
    border-radius:10px;
}