body {
    background: #fbffff;
    margin: 0;
    padding: 0;
}

.card {
    margin:50px
}

.card-header {
    background:#374754;
    color:#fff;
    text-transform: uppercase;
}

#descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}