body {
    background:#eaeae8;
    margin: 0;
    padding: 0;
}

.navbar {
    background:#fff;
}

.logo-container {
    max-width: 100px;
}

.navbar-brand img {
    width:200px;
}

.d-flex input {
    width: 400px;
}

.d-flex button {
    background:#29a745;
    color:#fff;
}

.card {
    margin:50px
}

.card-header {
    background:#374754;
    color:#fff;
    text-transform: uppercase;
}

#descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

#adicionar-link {
    position: fixed;
    bottom:10px;
    right:10px;
}